@import './style/global.styl'

:root
  --brown #a52a2a
  --darkbrown #781f1f
  --deepdarkbrown #6d0e0e
  --green #8bff00
  --darkgreen #74895a
  --gray #333
  --darkgray #302f2f
  --wheat #f7e0b4
  --darkwheat #977e4e
