**/__pycache__
node_modules/
website.db
website.dbold
static/uploads/image_resource_50
static/uploads/image_resource_25
static/client
tags
.tags
.tags1
.venv
.env*
!.env*.dist
.mypy_cache
*.kra~
*.png~
