**/__pycache__
node_modules/
website.db
website.dbold
static/fonts/peppercarrot_fonts/
static/img/drawings/
static/img/photos/
static/img/_thumbnails/
static/client/
tags
.tags
.tags1
.venv
.env*
!.env*.dist
.mypy_cache
