[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
passlib = "*"
flask-login = "*"
marshmallow = "*"
flask-restx = "*"
pillow = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
python_start = "bin/python_start.sh"
