[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
passlib = "*"
flask-login = "*"
flask-restplus = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
python_debug_start = ".venv/bin/gunicorn"
python_start = "bin/python_start.sh"
