[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
passlib = "*"
flask-login = "*"

[dev-packages]
pylint = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
project_install = "pipenv install --dev"
python_debug_start = ".venv/bin/gunicorn --bind 0.0.0.0:5001 debug_wsgi:APP"
python_start = "bash -c \"pipenv run project_install && ./server.py\""
