/*master.styl*/


//Variables
primaryColor = rgb(210, 210, 210)
primaryColorD1 = darken(primaryColor, 20)
primaryColorD2 = darken(primaryColor, 40)
primaryColorD3 = darken(primaryColor, 60)
secondaryColor = rgb(222, 195, 164)
primaryTextColor = rgb(57, 46, 33)
siteWidth = 1280px
mediumWidth = .7rem
//-----------------------------------
*
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none
    color: darkslategrey
    font-family: ComicSpice, helvetica, arial, sans-serif

ul
    list-style-type: none

figcaption
    text-align: center

html
    font-size: 93.75%
    line-height: 1.45
    color: primaryTextColor
    font-family: helvetica, arial, sans-serif

.hidden
    visibility: hidden

body
    background-color: secondaryColor;

#mainNav,
main,
footer
    padding: 1rem

main,
#mainNav,
#logoCitations
    max-width: siteWidth
    margin: 0 auto

main
    min-height: 60vh
    background-color: primaryColor
    box-shadow: 0 0 5px rgb(0,0,0)

#mainNav
    box-shadow: 0 0 2px rgb(255,255,255), 0 0 10px rgb(0,0,0)
    position: absolute
    margin: 0 auto
    left: 0
    right: 0
    bottom: 2rem
    background-color: primaryColor
    white-space: nowrap
    display: flex;
    justify-content:space-between;

.overflowed
    overflow-x: scroll

header
    position: relative

#mainNav a,
footer nav a
    font-weight: bold
    text-decoration: none
    display: inline-block
    border: 2px solid primaryTextColor
    border-radius: 5%
    padding: 0.5rem 1rem
    margin: 0.1rem
    margin-right: 1rem
    color: primaryTextColor
    background-color: primaryColor
    -webkit-transition: background-color 1s, color 1s
    transition: background-color 1s color 1s

footer nav a
    margin-top: 1.5rem

#mainNav a:hover,
footer nav a:hover,
#mainNav a.selected
    background-color: primaryTextColor
    color: primaryColor

.touch footer nav a:hover
    background-color: primaryColor
    color: primaryTextColor

#mainNav a.selected
    -webkit-transition: background-color 0s, color 0s
    transition: background-color 0s color 0s

.text-centered
    text-align: center

#banner
    display: block
    background-image: url('../img/cloud_study_4_resized.png')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 25vw
    min-height: 20rem

#techs
    display: flex
    flex-wrap: wrap
    margin-top: 5rem
    background-color: primaryColor
    box-shadow: 0 0 10px black;
    border-radius: 5px
    padding: 2rem

#techs + figcaption
    margin: 1rem

.tech img
    height: 100px
    max-width: 100%
    padding: 1rem

.tech:hover img
    transform: scale(1.2) rotateY(30deg)

@media (max-width: 300px)
    .tech img
        padding: 3px
        height: 50px
    #techs
        padding: 1rem

#logoCitations
    text-align: left

.faqlist
    dt
        font-style: italic
        font-weight: bold
        margin: 1rem 0 0 0
    dt::before
        content: '# '
        color: primaryColor
        text-shadow: 0 0 1px primaryColorD3
    dt:hover::before
        color: inherit
    dd
        margin-left: mediumWidth
@import 'photos.styl'
