/*Photos.styl*/

.photogallery
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-around;
.photo
	display: inline-block
	margin: 2.5rem 1rem
	img
		max-width: 16rem
		max-height: 16rem
		display: block
	.setHeight
		height: 200px
		display: flex
		align-items: center
		padding: 0 4px 4px 0
.photo-image
	display: block
	border: 1px solid primaryColorD1
	border-radius: 0.25rem
	overflow: hidden;
	box-shadow:
	0.2rem 0.2rem 0.2rem primaryColorD3
.photo-title
	font-weight: bold;
.wrap-photos,
.photo-desc,
.photo-meta,
.photo-slider,
#TheImage
	border: 2px solid primaryColorD3
	header
		color: secondaryColor
		background-color: primaryColorD3
		padding: mediumWidth
		border: 2px solid primaryColor
		font-weight: bold
#TheImage
	position: relative
	cursor: pointer
	background-color: primaryColorD3
	canvas,img
		position: relative
		max-width: 100%
		max-height: 100%
		display: block
		margin: auto
		padding: 2px
		border: 2px solid primaryColor
	canvas[aria-hidden],img[aria-hidden]
		position: absolute
		top: 0
		left: 0
.photo-desc,
.photo-meta
	padding: mediumWidth
.photo-slider
	display: flex
	justify-content: space-between
	align-items: center
	.photo-image
		margin: mediumWidth
		img
			display: block
	.photo-image.selected
		border-bottom: 5px solid orange;
#modal100
	position: fixed
	z-index: 100
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	background-color: rgba(0, 0, 0, 0.9)
	color: secondaryColor
	display: flex
	text-align: center
	align-items: center
	justify-content: center
	canvas,
	img
		max-width: 100%
		max-height: 100%
		box-shadow: 0 0 50px 12px black
		cursor: pointer
.touch #modal100
    // fallback in case fullscreen mode is not working
    // currently it's ugly when you try to resize
	bottom: 0
	right: 0
	width: auto
	height: auto
@media (max-width:1000px)
	.photo-main
		display: flex
		flex-direction: row
	.photo-slider,
	.photo-info
		display: flex
		flex-direction: column
	.photo-info,
	.photo-desc
		flex-grow: 1
@media (max-width:500px)
	.photo-image img
		max-width: 100px
@media (max-width:400px)
	.photo-main
		display: flex
		flex-direction: column-reverse
	.photo-slider,
	.photo-info
		display: flex
		flex-direction: column
	.photo-info,
	.photo-desc
		flex-grow: 1
