//Variables
primaryColor = rgb(210, 210, 210)
primaryColorD1 = darken(primaryColor, 20)
primaryColorD2 = darken(primaryColor, 40)
primaryColorD3 = darken(primaryColor, 60)
secondaryColor = rgb(222, 195, 164)
primaryTextColor = rgb(57, 46, 33)
siteWidth = 1280px
mediumWidth = .7rem
linkColor = darkslategrey
secondaryLinkColor = purple
//-----------------------------------
