.kcLink,
.kcButton
	cursor pointer
	border-radius: 3px
	border-width 1px
	border-color transparent
	transition .2s color
.kcLink
	display inline-block
	padding 3px
	border-style dotted
	color var(--brown)
	&:hover,
	&:focus,
	&:active
		border-color currentColor
		color var(--darkgreen)
	&:active
		color var(--green)
.kcButton
	padding 3px 12px
	background var(--brown)
	border-style groove
	border-color currentColor
	&:hover,
	&:focus,
	&:active
		background var(--darkgreen)
	&:active
		box-shadow inset 1px 1px 4px 1px black
		text-shadow 1px 1px 1px black
