{% extends "layout.html.j2"%}
{%block TITLE%}
 	András Koós - frontend developer, hobby artist
{%endblock%}
{%block MAIN%}
	<section class="text-centered">
	    <!-- <header style="background-color:hsla(0,0%,0%,.1);">
            headerfdjkhnfgohn
	    </header> -->
        <article>
            My name is <strong>András Koós</strong>, and I'm a Hungarian <strong>front-end developer</strong> living in the vicinity of Budapest.<br>
            I have <span id="xp"></span> of experience as a programmer.<br>
            I enjoy programming in JavaScript and Python3, designing websites and doing 2D art.<br>
            Whenever possible I use open-source software on Linux. &#x1f427;<br>
            <!-- Probably linkediknhere? -->
        </article>
        <figure>
            <div id="techs">
            {%for tech in techs%}
                <a class="tech" href="{{tech.link}}" target="_blank">
                    <img src="{{staticPATH}}img/logos/{{tech.filename}}" title="{{tech.name}}" alt="{{tech.name}}">
                </a>
            {%endfor%}
            </div>
            <figcaption><h4>Some technologies I do like</h4></figcaption>
        </figure>
	</section>
    <script>
        var //experience in years rounded to nearest 0.5
            xp = Math.round((new Date()-new Date(2016, 9))/1000/60/60/24/365*2)/2
        ;
        $('#xp').html(function(){
            if (xp==1) return xp + ' year';
            return xp + ' years';
        });
    </script>
    <!-- <script>
        /*** sets opacity of hovered tech logos ***/
        $('.tech').hover(function(event){
            //mouseOver
            $(event.currentTarget).siblings().css('opacity', '.2');
        }, function(event){
            //mouseOut
            $(event.currentTarget).siblings().css('opacity', '1');
        });
    </script> -->
{%endblock%}
{%block FOOTER%}
    <section id="logoCitations">
        <ul>
            <li>
                <cite>Angular logo licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license">CC BY 4.0</a> by the Angular team.
                </cite>
            </li>
            <li>
                <cite>Flask logo licensed under <a href="http://flask.pocoo.org/docs/0.12/license/#flask-artwork-license" target="_blank" rel="license">Flask Artwork License</a> by Armin Ronacher.
                </cite>
            </li> <!-- Gulp CC0, stylus MIT -->
        </ul>
    </section>
{%endblock%}
