{% extends "layout.html.j2"%}
{%block TITLE%}
 	Art Gallery {{super()}}
{%endblock%}
{%block MAIN%}
<div class="photogallery">
    {% for photo in photos %}
        <figure class="photo">
            <div class="setHeight">
                <a class="photo-image" href="{{photo.url}}">
                    <img src="{{staticPATH+photo.thumbnail}}" alt="{{photo.title or 'Gallery Image'}}">
                </a>
            </div>
            <figcaption class="photo-title">
                <a href="{{photo.url}}">
                    {{photo.title}}
                </a>
            </figcaption>
        </figure>
    {% endfor %}
</div>
{%endblock%}
