{% extends "layout.html.j2"%}
{%block TITLE%}
	Contact {{super()}}
{%endblock%}
{% block STYLE %}
    <link rel="stylesheet" href="{{staticPATH}}css/contact.css">
{% endblock %}
{%block MAIN%}
<div class="wheel">
	<div class="wheel-segment">
		<b>You can find me on ...</b>
	</div>
    <div class="wheel-segment">
        <a target="_blank" href="https://www.codewars.com/users/Reimar" title="Codewars">
            <img src="{{staticPATH}}img/social/codewars-mark.svg" alt="Codewars">
        </a>
        <a target="_blank" href="https://github.com/KartoffelCheetah" title="GitHub">
            <img src="{{staticPATH}}img/social/github-mark.svg" alt="GitHub">
        </a>
    </div>
    <div class="wheel-segment">
        <a target="_blank" href="https://kartoffelcheetah.deviantart.com/" title="Deviantart">
            <img src="{{staticPATH}}img/social/deviantart-mark.svg" alt="Deviantart">
        </a>
    </div>
	<script>
		$('.wheel-segment img').each(function(){
			var
				img = $(this),
				imgURL = img.attr('src')
			;
			$.get(imgURL, function(data){
				var
					svg = $(data).find('svg')
				;
				svg.addClass(img.attr('class'));

				img.replaceWith(svg);
			});
		});
	</script>
</div>
{%endblock%}
