{% extends "layout.html.j2"%}
{%block TITLE%}
 	Contact {{super()}}
{%endblock%}
{%block MAIN%}
	<!-- <address>
        myaddress here
    </address> -->
    <div class="text-centered">
        <h2>Nothing here for now :)</h2>
    </div>
{%endblock%}
