{% extends "layout.html.j2"%}
{%block TITLE%}
 	{{img[5]}} {{super()}}
{%endblock%}
{%block MAIN%}
    <div id="modal100" class="hidden">
        <img src="{{staticPATH[:-1]+img.0}}" alt="{{img[5]}}">
    </div>
    <div class="wrap-photos">
        <header>{{img[5]}}</header>
        <div id="TheImage">
            <img src="{{staticPATH[:-1]+img.0}}" alt="{{img[5]}}">
        </div>
        <div class="photo-main">
            <div class="photo-slider">
                {% for url,title in photos %}
                    <div>
                        <a class="photo-image" href="/drawings/{{url}}#TheImage">
                            <img src="{{staticPATH+THUMBNAILS+url}}" title="{{title}}" alt="{{title or 'Neighbouring Images'}}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="photo-info">
                <header>{{img[5]}}</header>
                <div class="photo-desc">
                    {{img.1}}
                </div>
                <div class="photo-meta">
                    <b>Date of creation:</b> {{img.2 or "Not known"}}<br>
                    <b>Upload date:</b> {{img.3 or "Not known"}}<br>
                    <b>License:</b> {{img.4 or "Not known"}}
                </div>
            </div>
        </div>
    </div>
    <script src="{{staticPATH}}js/photos_drawings.js"></script>
{%endblock%}
