{% extends "layout.html.j2"%}
{%block TITLE%}
 	{{img.title}} {{super()}}
{%endblock%}
{%block MAIN%}
    <div id="modal100" class="hidden">
        <img src="{{staticPATH+img.url}}" alt="{{img.title}}">
    </div>
    <div class="wrap-photos">
        <header>{{img.title}}</header>
        <div id="TheImage">
            <img src="{{staticPATH+img.thumbnail}}" aria-hidden="true" width="{{img.xres}}">
            <img src="{{staticPATH+img.url}}" alt="{{img.title}}" onload="$('#TheImage img[aria-hidden]').hide()">
        </div>
        <div class="photo-main">
            <div class="photo-slider">
                {% for photo in photos %}
                    <div>
                        <a class="photo-image" href="{{photo.url}}#TheImage">
                            <img src="{{staticPATH+photo.thumbnail}}" title="{{photo.title}}" alt="{{photo.title or 'Neighbouring Images'}}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="photo-info">
                <header>{{img.title}}</header>
                <div class="photo-desc">
                    {{img.description}}
                </div>
                <div class="photo-meta">
                    <b>Date of creation:</b> {{img.datetimeoriginal or "Not known"}}<br>
                    <b>Upload date:</b> {{img.uploaddate or "Not known"}}<br>
                    <b>License:</b> {{img.license or "Not known"}}
                </div>
            </div>
        </div>
    </div>
    <script src="{{staticPATH}}js/photos_drawings.js"></script>
{%endblock%}
