{% extends "layout.html.j2"%}
{%block TITLE%}
 	FAQ {{super()}}
{%endblock%}
{%block MAIN%}
    <dl class="faqlist">
        <dt>Can I use your images?</dt>
        <dd>
            There is a licence field under every image. Be sure to check that. If for some reason there is no license listed, then please do not assume anything. Just treat it like All rights reserved.
        </dd>
        <dt>Can I download, copy your site?</dt>
        <dd>The <em>code</em> of the site is licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT.</a><br>
        <a target="_blank" href="https://github.com/KartoffelCheetah/personal-website-001">GitHub.</a></dd>
        <dt>What software do you use for drawing?</dt>
        <dd><a target="_blank" href="https://krita.org/en/">Krita.</a></dd>
        <dt>What tablet do you use?</dt>
        <dd>
            HUION H610 Pro
        </dd>
    </dl>
{%endblock%}
