<!DOCTYPE html>
<html lang="en">
	<head>
		{% set staticPATH = url_for('static', filename="") %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
		<title>
			{%block TITLE%}
				- András Koós
			{%endblock%}
		</title>
		<meta name="description" content="Official website of front-end developer, hobby artist András Koós.">
		<meta name="author" content="András Koós">
		<meta name="keywords" content="andrás koós reimar front end developer digital art illustration painting">
		<!-- favicon -->
		<!-- TODO: make a new favicon because it is too small for desktop -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{staticPATH}}favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{staticPATH}}favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{staticPATH}}favicons/favicon-16x16.png">
		<link rel="manifest" href="{{staticPATH}}favicons/manifest.json">
		<link rel="mask-icon" href="{{staticPATH}}favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
		<!-- style -->
		<link rel="stylesheet" href="{{staticPATH}}fonts/peppercarrot_fonts/Web-ComicSpice/stylesheet.css">
		<link rel="stylesheet" href="{{staticPATH}}css/master.css">
		<!-- srcipt -->
		<script src="{{staticPATH}}js/jquery-3.2.1.min.js"></script>
		<script src="{{staticPATH}}js/layout.js"></script>
	</head>
	<!-- BODY STARTS FROM HERE -->
	<body id="#top">
		<header>
			<a id="banner" href="/" title="To Main Page"></a>
			<nav id="mainNav">
				<div>
					<a href="/about">About</a>
					<a href="/faq">FAQ</a>
					<a href="/artgallery/">Drawings</a>
					<a href="/photogallery/">Photos</a>
				</div>
				<div>
					<a href="/contact">Contact</a>
				</div>
			</nav>
		</header>
		<main role="main">
			{%block MAIN%}
			{%endblock%}
		</main>
		<footer class="text-centered">
			<hr>
			{%block FOOTER%}
			{%endblock%}
			<nav>
				<a href="#top">Back to top</a>
			</nav>
			<noscript>Without scripts this site may look terrible! (Just sayin'.)</noscript>
		</footer>
		<script>
			// adding .selected class to urls
			$(markCurrentUrl);
		</script>
		<script>
			// adding .overflowed class to element
			var /*global variable for toggleOverflow*/
				mainNav = $('#mainNav')
			;

			$(toggleOverflow.bind(window, mainNav)); //on ready
			$(window).resize(toggleOverflow.bind(window, mainNav)); //on resize
		</script>
		<script>
			//Adds class to html touch or non-touch
			touchSupport();
		</script>
	</body>
</html>
